.pc__content {
  .listcontent {
    .listproduct {
      a {
        border: 1px solid #f3f3f3 !important;
      }

      a:hover {
        box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
        img {
          transform: translateY(-8px);
          transition-duration: 3s;
        }
        ._title_1o1jt_84 {
          color: #288ad6;
        }
      }
    }
  }
}
