.blocklist {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  .block__gaming {
    // background-color: #3699d3;
  }
}

#dealsoc .listcontent {
  // background-color: #3699d3;
}

#gaming {
  // background-color: #3699d3;
}

#gaming .listcontent__btn {
  // background: linear-gradient(92.4deg, #3699d3 0%, #febf00 100%);
  box-shadow: 0 0 20px #b88a00;
}
