.content-2 {
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  .container-c2-top {
    text-align: center;
    padding-bottom: 50px;

    h1 {
      padding: 20px;
      font-weight: bold;
      // color: #000;
      font-size: 27px;
      text-align: center;
      margin: 0 auto;
    }
    .boxNew {
      display: flex;
      align-items: center;
      // column-gap: 130px;
      justify-content: space-between;

      .item {
        margin: 0 !important;
        text-align: center;
      }
      img {
        width: 150px;
        height: auto;
        margin: 0 auto;
      }

      .button {
        text-align: center;
        display: inline-block;
        margin-top: 3px;
        vertical-align: top;
        width: 150px;
        border-radius: 50px;
      }
      .white {
        color: #fff;
        background-color: #000;
      }
      .medium {
        font-size: 17px;
      }

      h1 {
        margin-top: 20px;
        margin-bottom: 25px;
        font-size: 20px;
        font-family: "SAMSUNG MEDIUM";
      }
      h1:hover {
        color: #2895d3;
      }
    }
    a {
      display: inline-block;
      vertical-align: top;
      margin: 25px;
      padding: 10px;
    }
  }
}
