.heading {
  color: #000;
  // background-color: var(--primary-bg);
  font-size: 1.4rem;

  @mixin d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    background-image: url("public/images/logotechstore.jpg");
    background-size: cover;
    border-radius: 3px;
    width: 160px;
    height: 44px;
    cursor: pointer;
  }
  .top {
    height: 63px;
    @include d-flex;
    .wrap {
      width: 1200px;
      height: 40px;
      @include d-flex;
      justify-content: space-between;
    }
  }
  .bottom {
    display: flex;
    height: 70px;
    nav {
      @include d-flex;
      justify-content: space-between;
      width: 90%;
      max-width: 1200px;
      margin: auto;
      .item {
        @include d-flex;
        gap: 4px;
      }
    }
  }
}
header.scrolled {
  background-color: #000000;
}

#tippy-5 {
  inset: 1px 2px auto 10px !important;
  margin: -9px !important;
}
.tippy-arrow::before {
  display: none;
}

