@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  .container {
    @apply max-w-[1535px] xl:max-w-[1279px] lg:max-w-[1023px] md:max-w-[767px] sm:max-w-[639px];
  }
} */
@font-face {
  font-family: "Brown-pro";
  src:
    url("../src/assets/fonts/brownpro-bold.otf")
      format("woff2 supports variations"),
    url("../src/assets/fonts/brownpro-bold.otf")
      format("woff2 supports variations");
  font-weight: 100 900;
}
:root {
  --primary-bg: #00adb5;
  --primary-bg-btn: #3699d3;
}
html {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 62.5%;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
textarea {
  resize: both; /* or horizontal, vertical, none */
}

body {
  /* background: #1c2635; */
  font-family: "Brown-pro", sans-serif !important;
  overflow-y: scroll;
  height: 100dvh;
  color: #fff;
  width: 100vw;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 1.6rem;
  line-height: 1.5;
  /* background-color: #f1f1f1; */
  text-rendering: optimizeSpeed;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

svg {
  display: inline-block;
  font-size: 1.5rem;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.tippy-box {
  background-color: #fff;
  max-width: 950px !important;
  border: 1px solid #ddd;
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.tippy-arrow {
  color: #fff;
}

.bg {
  /* background-image: linear-gradient(to bottom,#654b92,#170F23); */
  /* background-size: 100vw 90vh; */
  /* padding-top: 64px; */
  /* padding-bottom: 64px; */
  /* position: absolute; */
  width: 100%;
  /* background-color: #170f23; */
  /* background: linear-gradient(45deg, #0016ef, #006ec3, #00b0a8, #0ce88c); */
}

